<div class="container">
  <div class="row">
    <h1>Stadiums</h1>
  </div>
  <img src="/photos/mlb.jpg" height="800px" width="1000px"/><br>
  <% @stadiums.each do |s| %>
  <%= link_to s.name, stadium_path(s) %>, <%= s.team %><br>
  <% end  %>
</container>
