/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primaryColor: #446870;
$secondaryColor: #CDF3FC;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
background: url('/photos/plate.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-top: 40px;
padding-bottom: 40px;
}

.navbar {
  background-color: $primaryColor;
}

.navbar a{
  color: white;
}

.login_screen {
  max-height: 500px;
  width: 100%;
}

.carousel-caption h3 {
  text-shadow: black 2px 1px;
}

.carousel-caption p {
  text-shadow: black 2px 1px;
}

.profile {
  background-color: #014F13;
  @include border-radius(2px);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  color:$secondaryColor;
  text-shadow: 1px 1px black;
}

.name {
  color:$secondaryColor;
  padding-top: 10px;
  margin-top: -1px;
}

.delete-button {
  margin-top: 5px;
  font-weight: bold;
  background-color:$primaryColor;
  color:white;
}

.edit-button {
  color: #446870;
  font-weight: bold;
  background-color:$secondaryColor;
  margin-top: -5px;
}

.edit-entry {
  color: #446870;
  font-weight: bold;
  background-color:$secondaryColor;
  margin-top: 10px;
  border: 2px solid $primaryColor;
}

.delete-entry {
  color: $primaryColor;
  font-weight: bold;
  background-color:$secondaryColor;
  margin-top: 10px;
  border: 2px solid $primaryColor;
}

.back-button {
  color: white;
  margin-top: 10px;
  font-weight: bold;
  background-color:$primaryColor;
  margin-top: 10px;
  margin-left: 42px;
  margin-right: 42px;

}

.back-from-edit {
  color: $primaryColor;
  margin-top: 10px;
  font-weight: bold;
  background-color:$secondaryColor;
  margin-top: 10px;

}

#entry {
  background-color: rgba(211, 190, 171, 0.7);
  @include border-radius(2px);
  margin-top: 10px;
  padding-bottom: 20px;
  color:#180D06;
  box-shadow: 5px 5px 25px black;
  font-family: 'Futura';
}

#main-entry {
  background-color: rgba(211, 190, 171, 0.7);
  @include border-radius(2px);
  margin-top: 10px;
  color:#180D06;
  box-shadow: 5px 5px 25px black;
  font-family: 'Futura';
}

#add-entry {
  margin-top: 10px;
}

#entry-button{
  background-image: linear-gradient(#97B3BA, $primaryColor);
  border-color: $primaryColor;
  text-shadow: 1px 1px black;
}

.style_image {
  @include border-radius(2px);
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-body {
  margin: 0 10px;
}

.new-user{
  margin-top: 20px;
  color: #FFF3E8;
  background-color: $primaryColor;
  padding: 15px 0;
}

.add-entry{
  margin-top: 20px;
  background-image: linear-gradient(#87CEDE, $primaryColor);
  padding: 15px 0;
  color: #FFF3E8;
  text-shadow: .5px .5px black;
}

.entry-success{
  color: $primaryColor;
  font-weight: bold;
  background-color:$secondaryColor;
}

.member {
  color:#CDF3FC;
  text-shadow: 1px 1px #3A575E;
}

.new-member {
  color: $primaryColor;
  font-weight: bold;
  background-color:$secondaryColor;
}

.entry-picture {
  margin-left: 20px;
  border: none;
  box-shadow: 0 1px 7px rgba(0,0,0,0.6);
  -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

.feed-picture {
  border: none;
  box-shadow: 0 1px 7px rgba(0,0,0,0.6);
  -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

// Stadium sidebar styling
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width:0;
  height: 100%;
  overflow-y: hidden;
  background-color: $secondaryColor;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  margin-top: 20px;
  text-indent:20px;
  line-height: 80px;
  display: block;
  text-decoration: none;
  color:$primaryColor;
}

.sidebar-nav li h4{
  text-decoration: underline;
}

// Stadium main content styling
#page-content-wrapper {
  width: 100%;
  position:absolute;
  padding: 15px;
}

// Change width of sidebar to display it
#wrapper.sidebarDisplayed #sidebar-wrapper{
  width:250px;
}

#wrapper.sidebarDisplayed #page-content-wrapper{
  padding-left:250px;
}

//View more button
.view-more {
  color: $secondaryColor;
  font-weight: bold;
  background-color:$primaryColor;
  margin-bottom: 10px;
}

.view-more:visited {
  color: $secondaryColor;
}
.view-more:link {
  color: $secondaryColor;
}

.stadium-picture {
  width:100%;
  height: 100%;
  border: none;
  box-shadow: 0 1px 7px rgba(0,0,0,0.6);
  -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

.stadium-header {
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 5px $primaryColor ;
}

.stadium-subheader {
  margin-top: -15px;
  margin-bottom: 10px;
  color: $secondaryColor;
}

// Stadium list styling
.stadium-name {
  margin-top: 25px;
  background-color: $primaryColor;
  height: 100%;
  box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}

.stadium-name h1 {
  color: $secondaryColor;
  text-shadow: 1px 1px $primaryColor;
}

.btn-round {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 70px;
    background-color: white;
}

.login-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
